body{
    color: black;
    font-family: 'Lato', sans-serif;
    font-family: Helvetica Neue, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
/** ------------- SONY BANNER -------------*/

header section.top-banner div.sony{
    height: 40px;
    background-color: black;
}

.font-10{
    font-size: 10px;
}


/** ------------- JUMBOTRON -------------*/

section.jumbotron{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}

section.jumbotron-top{
    height: 700px;
    background-image: url(../img/returnal-cover2.jpg);
}

section.jumbotron-middle{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/** ------------- SECTION GAME CARD -------------*/

section.game-cards div.box-card{
    border-radius: 30px;
    overflow: hidden;
    transition: .1s ease;
}

div.box-card:hover{
    outline: 3px solid #0F6DC3;
    outline-offset: 3px;
    transform: scale(1.07);
    box-shadow: 5px 10px 10px 5px rgb(124, 119, 119);
}


/** ------------- SECTION PRESENTATION-------------*/

section.ps5-presentation{
    margin-top: 5rem;
}


/** ------------- ACCESSORIES-------------*/

div.wrapper-accessory:hover{
    border-bottom: 2px solid #0F6DC3;
    opacity: 1;
}

div.wrapper-accessory{
    opacity: 0.8;
}

/** ------------- SECTION NEW RELEASE-------------*/

section.new-releases{
    background-color: #1E1E1E;
}

div.box-new-release{
    border-radius: 30px;
    overflow: hidden;
}


/** ------------- SECTION PLAYSTATION PLUS-------------*/

section.playstation-plus{
    background-color: #BEBCBB;
}

/** ------------- PLAYSTATION NOW-------------*/
section.discount{
    margin: 100px 0;
}

section.playstation-now{
    background-color: #171D34;
}

/** ------------- PLAYSTATION NOW-------------*/

section.social div.social-box{
    /* width: 250px;
    height: 250px; */
}

/** ------------- FOOTER-------------*/

footer{
    background-color: #05418F;
}

img.ps-footer-logo{
    width: 150px;
}

img.globe{
    width: 30px;
}

ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

div.my-container{
width: 100%;}