body{
    color: black;
    font-family: 'Roboto', sans-serif;
}

header div.sony{
    height: 40px;
    background-color: black;
}

.font-10{
    font-size: 10px;
}

/** ------------- JUMBOTRON -------------*/

section.jumbotron{
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}

section.jumbotron-1{
    background-image: url(../img/returnal-cover2.jpg);
}

section.jumbotron-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/** ------------- GAME CARD -------------*/

.game-miniature{
    border-radius: 30px;
}

/** ------------- PS5 PRESENTATION -------------*/
